:root {
  --bg: #24242C;
  --main-color: oklch(100% 0 0 / 0.87);

  --elevation2: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);

  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-color);
  background-color: var(--bg);
}

body {
  margin: 0;
  padding: 2rem 4rem;
  display: grid;
  place-items: center;
}

.controls {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto;
  justify-content: start;
  background: #AAA1;
  border-radius: 6px;
  box-shadow: var(--elevation2) ;
}

.input-sliders {
  display: grid;
  gap: 1rem;
  align-content: center;
}

.input-wrapper {
  display: grid;
  gap: 0.5rem;
  align-content: end;
}

.input-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

@property --opacity {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

.btn {
  padding: 0.4lh 2ch;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  background-image: linear-gradient(oklch(100% 0 0 / var(--opacity)));
  transition: --opacity 150ms ease-out;
  &:hover {
    --opacity: 0.1;
  }
  &:active {
    --opacity: 0.2;
  }
}

.btn.start {
  min-width: 9ch; 
  background-color: #43b581;
  transition-property: --opacity, background-color;
}
.btn.stop {
  min-width: 9ch;
  background-color: #f57c00;
  transition-property: --opacity, background-color;
}
.btn.step {
  border-color: #2780e6;
}
.btn.reset {
  background-color: #982929;
}

.app {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto;
}

canvas {
  border: 1px solid #AAA2;
  margin: 1rem auto 0;
  display: block;
}

.plot {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: var(--elevation2);
  margin-bottom: 1rem;
  display: block !important;
}

.color-wheel{
  grid-row: 1 / span 2;
  width: 150px;
  height: 150px;
  border-radius: 100vmax;
  background: conic-gradient(in hsl longer hue from 90deg, red, red);
  padding: 0.5rem;
  margin: 2rem;
  background-clip: content-box;
  position: relative;

  & > span {
    position: absolute;
  }
  .left {
    left: 0;
    top: 50%;
    translate: -100% -50%;
  }
  .top {
    left: 50%;
    top: 0;
    translate: -50% -100%;
  }
  .right {
    right: 0;
    top: 50%;
    translate: 100% -50%;
  }
  .bottom {
    left: 50%;
    bottom: 0;
    translate: -50% 100%;
  }

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    background: black;
    inset: 0.5rem auto 0.5rem 50%;
  }
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    background: black;
    inset: 50% 0.5rem auto;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #ffffff;
    --main-color: #213547;
  }
}
